@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0.68 1%	0.09%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 198 93% 60%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 215 20% 70%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  p{
    @apply text-muted-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-neutral-600;
  }

  ::selection {
    @apply bg-primary/20 text-primary;
  }
}